.hero {
    background-image: url('../img/main-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.shake {
    position: fixed;
    z-index: 50;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%)
}

.main-bg-home {
    display: grid;
    /* position: absolute; */
    width: 100%;
    height: 100vh;
    background-image: url('../img/hero-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: -800px;
}

.mascot,
.slogan {
    position: absolute;
    height: 100vh;
}

.mascot {
    display: none;
    width: 100%;
    opacity: 0.8;
    background-image: url('../img/character-hero.png');
    /* background-size: 00px; */
    background-repeat: no-repeat;
    background-position-x: -900px;
    /* background-position-x: -700px; */
    background-position-y: -160px;
    z-index: 1;
}

.slogan {
    margin-top: 20px;
    width: 100%;
    z-index: 2;
}

.slogan .logo {
    width: 100%;
}

.slogan .text {
    display: none;
    right: 10px;
    margin-top: 60px;
    width: 100%;
}

.bt-sosmed {
    width: 60%;
    margin-left: auto;
    margin-right: 5%;
    /* display: flex; */
    /* position: absolute; */
    /* margin-top: 250px; */
    /* right: 30px; */

}

.btn-s {
    margin: auto;
}

.btn-icon {
    width: 100%;
}

.main-bg-about {
    background-image: url('../img/effect-bg-about.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
}

.about {
    width: 100%;
    height: 50vh;
    background-image: url('../img/m/about.png');
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center;
}

.a-more {
    position: absolute;
    right: 10%;
    bottom: 1%;
}

.more {
    width: 120px;
}

.bg-modal {
    font-family: FuturaBkBt !important;
    background: rgba(255, 255, 255, 0.8) !important;
    box-shadow: 0 8px 32px 0 rgb(0 0 0 / 37%);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: 10px !important;
    border: 1px solid rgba(255, 255, 255, 0.0) !important;
}

.main-bg-product {
    background-image: url('../img/bg-effect-product.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
}

.product {
    width: 100%;
}

.main-bg-gallery {
    height: 50vh;
    background-image: url('../img/effect-gallery.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
}

/* Modal */
.modal-box {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 88;
    -webkit-animation-name: modalShow;
    -webkit-animation-duration: 1.5s;
    animation-name: modalShow;
    animation-duration: 1.5s;
}

@-webkit-keyframes modalShow {
    from {
        opacity: 0.1;
        top: 10vh;
    }

    to {
        opacity: 1;
        top: 0;
    }
}

@keyframes modalShow {
    from {
        opacity: 0.1;
        top: 10vh;
    }

    to {
        opacity: 1;
        top: 0;
    }
}

.modal-row {
    width: 100%;
    height: 100vh;
    background-color: #0d0121;
    color: #ffffff;
    font-family: FuturaBkBt;
    overflow-y: scroll;

    -webkit-box-shadow: 0px -36px 30px #0d0121;
    -moz-box-shadow: 0px -36px 30px #0d0121;
    box-shadow: 0px -36px 30px #0d0121;
}

.modal-group a {
    -webkit-animation-name: modalBtn;
    -webkit-animation-duration: 1.5s;
    animation-name: modalBtn;
    animation-duration: 1.5s;
}

@-webkit-keyframes modalBtn {
    from {
        background-color: #ffffff;
    }

    to {
        background-color: transparent;
    }
}

@keyframes modalBtn {
    from {
        background-color: #ffffff;
    }

    to {
        background-color: transparent;
    }
}

.modal-group h5 {
    -webkit-animation-name: modalTitle;
    -webkit-animation-duration: 1.5s;
    animation-name: modalTitle;
    animation-duration: 1.5s;
}

@-webkit-keyframes modalTitle {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes modalTitle {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.modal-exit {
    bottom: 0;
    background-color: #0d0121;
    -webkit-animation-name: modalExit;
    -webkit-animation-duration: 1.5s;
    animation-name: modalExit;
    animation-duration: 1.5s;
}

@-webkit-keyframes modalExit {
    from {
        bottom: -40px;
    }

    to {
        bottom: 0;
    }
}

@keyframes modalExit {
    from {
        bottom: -40px;
    }

    to {
        bottom: 0;
    }
}

/* Gallery */
.gallery-img {
    display: inline-block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

.gallery-img:nth-child(1) {
    background-image: url("../img/m/gallery/5.jpg");
}

.gallery-img:nth-child(2) {

    background-image: url("../img/m/gallery/4.jpg");
}

.gallery-img:nth-child(3) {

    background-image: url("../img/m/gallery/6.jpg");
}

.gallery-img:nth-child(4) {

    background-image: url("../img/m/gallery/3.jpg");
}

.gallery-img:nth-child(5) {

    background-image: url("../img/m/gallery/1.jpg");
}

.gallery-img:nth-child(6) {

    background-image: url("../img/m/gallery/2.jpg");
}

/* Team Work */

/* Our wrapper */
.wrapper {
    width: 100%;
    /* height: 600px; */
    height: 80vh;
    max-height: 100vh;
    position: absolute;
    left: 50%;
    /* top: 50%; */
    transform: translate3d(-50%, 0%, 0);
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}


/* Our image information */
.bottom,
.middle,
.top {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    /* background-color: white; */
    background-image: url("../img/hero-background.png");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    overflow: hidden;

    /* img {
        height: 100%;
    } */
}

/* .bottom {
    background: #2196f3;
}

.middle {
    background: #bbdefb;
}

.top {
    background: #ffffff;
} */

.top {
    width: 125px;
}

.scroller {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 100px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.9;
    transition: opacity 0.12s ease-in-out;
    pointer-events: auto;
    cursor: pointer;
    box-shadow: 3.5px 0px 7px rgba(100, 100, 100, 0.2);
}

.scroller-middle {
    margin-top: 25px;
}

.scroller-top {
    margin-top: -25px;
}


.scroller:hover {
    opacity: 1;
}

.scrolling {
    pointer-events: none;
    opacity: 1;
    /* z-index: 1; */
}

.scroller__thumb {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 7px;
}

.scroller:before,
.scroller:after {
    content: " ";
    display: block;
    width: 7px;
    height: 9999px;
    position: absolute;
    left: 50%;
    margin-left: -3.5px;
    z-index: 30;
    transition: 0.1s;
    box-shadow: 3.5px 0px 7px rgba(100, 100, 100, 0.2);
}

.scroller:before {
    top: 49px;
}

.scroller:after {
    bottom: 49px;
}

/* If you want to cahnge the colors, make sure you change the fill in the svgs to match */
.scroller-middle>.scroller__thumb {
    border: 5px solid #5056b9;
}

.scroller-middle:before,
.scroller-middle:after {
    background: #5056b9;
}

.scroller-top>.scroller__thumb {
    border: 5px solid #5056b9;
}

.scroller-top:before,
.scroller-top:after {
    background: #5056b9;
}

.img-teamwork {
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.teamwork1 {
    background-image: url("../img/m/kwaii-char.png");
}

.teamwork2 {
    background-image: url("../img/m/oedin-char.png");
}

.teamwork3 {
    background-image: url("../img/m/pochi-char.png");
}

.bg-cr {
    height: 100vh;
    background-image: url('../img/m/footer-effect.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
}

.cp-rg {
    width: 100%;
    height: 300px;
    margin: auto;
    background-image: url('../img/m/footer.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}